<div class="flex flex-col gap-4 md:flex-row-reverse">
  <p-card class="flex flex-col gap md:flex-1 md:h-70">
    <div class="flex flex-col gap-3">
      <div>
        <h2 class="text-xl font-bold">{{ 'ADMIN.PAGES.SETTINGS.SECTIONS.PROFILE.UPLOAD.TITLE' | transloco }}</h2>
        <p class="text-zinc-500">{{ 'ADMIN.PAGES.SETTINGS.SECTIONS.PROFILE.UPLOAD.DESCRIPTION' | transloco }}</p>
      </div>

      <div class="w-full flex justify-center">
        <img [alt]="" [src]="imageUrl" class="rounded-full w-24 h-24 object-cover" />
      </div>
      <div class="flex flex-col justify-center gap-2 items-center">
        <button
          pButton
          [label]="'GENERIC.BUTTONS.UPLOAD' | transloco"
          icon="pi pi-upload"
          severity="secondary"
          [disabled]="isUploading"
          outlined
          (click)="triggerFileInput()"
        ></button>
        <input
          type="file"
          #fileInput
          accept="image/*"
          class="hidden"
          (change)="uploadImage($event)"
        />
        <p class="text-zinc-500 text-sm text-center">{{ 'ADMIN.PAGES.SETTINGS.SECTIONS.PROFILE.UPLOAD.FORMATS' | transloco }}</p>
      </div>
    </div>
  </p-card>
  <p-card class="flex md:flex-2">
    <div class="flex flex-col gap-2">
      <div>
        <h2 class="text-xl font-bold">{{ 'ADMIN.PAGES.SETTINGS.SECTIONS.PROFILE.INFO.TITLE' | transloco }}</h2>
        <p class="text-zinc-500">{{ 'ADMIN.PAGES.SETTINGS.SECTIONS.PROFILE.INFO.DESCRIPTION' | transloco }}</p>
      </div>
      <form [formGroup]="configForm" (submit)="onSubmit()" class="flex flex-col gap-4">
        <!-- Nome e Email -->
        <div class="flex flex-col md:flex-row gap-3">
          <div class="flex flex-col w-full">
            <label for="name">{{ 'ADMIN.PAGES.SETTINGS.SECTIONS.PROFILE.INFO.FIELDS.USERNAME' | transloco }}</label>
            <input
              pInputText
              type="text"
              id="name"
              formControlName="name"
              placeholder="Jhon Doe"
              pSize="small"
              [value]="userData.name"
              [disabled]="true"
              autocomplete="off"
            />
          </div>
          <div class="flex flex-col w-full">
            <label for="email">{{ 'ADMIN.PAGES.SETTINGS.SECTIONS.PROFILE.INFO.FIELDS.EMAIL' | transloco }}</label>
            <input
              pInputText
              id="email"
              formControlName="email"
              type="text"
              placeholder="jhon.doe@email.com"
              [value]="userData.email"
              pSize="small"
              autocomplete="off"
            />
          </div>
        </div>

        <!-- Biografia -->
        <div class="flex flex-col">
          <label for="bio">{{ 'ADMIN.PAGES.SETTINGS.SECTIONS.PROFILE.INFO.FIELDS.BIO' | transloco }}</label>
          <textarea
            id="bio"
            formControlName="bio"
            rows="5"
            pTextarea
            [autoResize]="true"
            [value]="userData.bio"
            autocomplete="off"
          >
          </textarea>
        </div>

        <!-- LinkedIn e GitHub -->
        <div class="flex flex-col md:flex-row gap-3">
          <div class="flex flex-col w-full">
            <label for="linkedin">LinkedIn</label>
            <input
              pInputText
              id="linkedin"
              formControlName="linkedin"
              type="text"
              placeholder="https://www.linkedin.com/in/jhondoe"
              [value]="userData.linkedin"
              pSize="small"
              autocomplete="off"
            />
          </div>
          <div class="flex flex-col w-full">
            <label for="github">GitHub</label>
            <input
              pInputText
              id="github"
              formControlName="github"
              type="text"
              placeholder="https://github.com/jhondoe"
              [value]="userData.github"
              pSize="small"
              autocomplete="off"
            />
          </div>
        </div>

        <!-- Botão -->
        <div class="flex justify-end">
          <button
            pButton
            type="submit"
            severity="primary"
            [disabled]="isUploading"
            icon="pi pi-save"
            [disabled]="configForm.pristine || configForm.invalid"
          >
            {{'GENERIC.BUTTONS.UPDATE' | transloco}} 
          </button>
        </div>
      </form>
    </div>
  </p-card>
</div>
