.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20000 !important; /* acima do blockUI */
}

:host ::ng-deep .p-blockui {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}
