<div class="flex flex-col gap-4">
  <p-card class="flex flex-col md:w-160">
    <div class="flex flex-col gap-3">
      <h2 class="text-xl font-bold">{{ 'ADMIN.PAGES.SETTINGS.SECTIONS.SECURITY.CHANGE_PASSWORD.TITLE' | transloco }}</h2>
      <p class="text-zinc-500">{{ 'ADMIN.PAGES.SETTINGS.SECTIONS.SECURITY.CHANGE_PASSWORD.DESCRIPTION' | transloco }}</p>
      <form [formGroup]="changePasswordForm" (submit)="onSubmit()" class="flex flex-col gap-3">
        <div class="flex flex-col">
          <label for="currentPassword">{{ 'ADMIN.PAGES.SETTINGS.SECTIONS.SECURITY.CHANGE_PASSWORD.FIELDS.CURRENT_PASSWORD' | transloco }}</label>
          <input pInputText id="currentPassword" formControlName="currentPassword" type="password" [placeholder]="'ADMIN.PAGES.SETTINGS.SECTIONS.SECURITY.CHANGE_PASSWORD.PLACEHOLDERS.CURRENT_PASSWORD' | transloco" pSize="small" autocomplete="off">
        </div>
        <div class="flex flex-col">
          <label for="newPassword">{{ 'ADMIN.PAGES.SETTINGS.SECTIONS.SECURITY.CHANGE_PASSWORD.FIELDS.NEW_PASSWORD' | transloco }}</label>
          <input pInputText id="newPassword" formControlName="newPassword" type="password" [placeholder]="'ADMIN.PAGES.SETTINGS.SECTIONS.SECURITY.CHANGE_PASSWORD.PLACEHOLDERS.NEW_PASSWORD' | transloco" pSize="small" autocomplete="off">
        </div>
        <div class="flex flex-col">
          <label for="confirmPassword">{{ 'ADMIN.PAGES.SETTINGS.SECTIONS.SECURITY.CHANGE_PASSWORD.FIELDS.CONFIRM_PASSWORD' | transloco }}</label>
          <input pInputText id="confirmPassword" formControlName="confirmPassword" type="password" [placeholder]="'ADMIN.PAGES.SETTINGS.SECTIONS.SECURITY.CHANGE_PASSWORD.PLACEHOLDERS.CONFIRM_PASSWORD' | transloco" pSize="small" autocomplete="off">
        </div>
        <div class="flex gap-3">
          <button pButton type="submit" severity="primary"  icon="pi pi-save" [disabled]="changePasswordForm.invalid">{{ 'GENERIC.BUTTONS.UPDATE' | transloco}}</button>
        </div>
      </form>
    </div>
  </p-card>
  <p-card class="flex flex-col md:w-160">
    <div>
      <h2 class="text-xl font-bold">{{ 'ADMIN.PAGES.SETTINGS.SECTIONS.SECURITY.DISABLE_ACCOUNT.TITLE' | transloco }}</h2>
      <p class="text-zinc-500">{{ 'ADMIN.PAGES.SETTINGS.SECTIONS.SECURITY.DISABLE_ACCOUNT.DESCRIPTION' | transloco }}</p>
    </div>
    <div class="flex flex-col gap-3 mt-3">
      <p class="text-zinc-500">{{ 'ADMIN.PAGES.SETTINGS.SECTIONS.SECURITY.DISABLE_ACCOUNT.TEXT' | transloco }}</p>
      <button pButton type="button" severity="danger" (click)="deactivateUser($event)" icon="pi pi-user-slash">{{ 'ADMIN.PAGES.SETTINGS.SECTIONS.SECURITY.DISABLE_ACCOUNT.BUTTON' | transloco }}</button> 
    </div>
  </p-card>
</div>