<div class="flex">
  <!-- MAIN CONTENT -->
  <main class="flex flex-col flex-1">
    <header class="w-full h-18 flex items-center justify-between p-4">
      <p-button
        (click)="toggleDrawer()"
        icon="pi pi-bars"
        size="large"
        severity="primary"
        variant="text"
        class="lg:hidden"
      />

      <p-iconfield iconPosition="left">
        <p-inputicon class="pi pi-search" />
        <input
          pInputText
          type="text"
          placeholder="Pesquisar..."
          pSize="small"
          class="w-30 sm:w-80"
        />
      </p-iconfield>

      <div class="flex items-center gap-3">
        <p-button icon="pi pi-bell" size="large" severity="primary" variant="text" />
      </div>
    </header>

    <p-divider class="m-0" style="margin: 0" />

    <app-drawer-menu [(visible)]="visible"></app-drawer-menu>
  </main>
</div>
