<p-drawer [(visible)]="visible">
  <ng-template #headless>
    <div class="flex flex-col h-full">
      <div class="flex items-center justify-between px-6 pt-4 shrink-0">
        <span class="inline-flex items-center gap-2">
          <app-logo></app-logo>
        </span>
        <p-button type="button" icon="pi pi-times" severity="secondary" variant="text" (click)="toggleDrawer()"
          styleClass="h-8 w-8"></p-button>
      </div>

      <p-divider class="my-2"></p-divider>

      <div class="flex flex-col p-4 gap-2">
        @for (item of menu; track $index) {
        <button pButton text severity="secondary" fluid class="justify-start gap-3 text-left font-medium"
          style="display: flex; justify-content: flex-start;">
          <i [ngClass]="item.icon"></i>
          <span>{{ item.name }}</span>
        </button>
        }
      </div>
    </div>

    <div class="w-full">
      <p-divider class="m-0" style="margin: 0;"></p-divider>
      <div class="flex">
        <button pButton text class="flex items-center gap-3" fluid style="display: flex; justify-content: flex-start;">
          <app-avatar></app-avatar>
          <app-user-info></app-user-info>
        </button>
        <app-logout></app-logout>
      </div>
    </div>
  </ng-template>
</p-drawer>